h1 {
  color: white;
}

body {
  color: white;
  background-color: black;
}

.banner-container {
  width: 100%;
  position: relative;
  padding: 0px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  /*background: url("../images/banner-bg.jpg") no-repeat;*/
  background-size: 100% 100%;
  background-size: cover;
  position: relative;
}
.banner-container > img {
  width: 100%;

}
.banner-content {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
}
.banner-content h2 {
  color: #fff;
  font-size: 3.5em;
  margin: 2% 0 30px;
  line-height: 1.2em;
}
.banner-content p {
  font-size: 1.6em;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}
.banner-content header {
color: #fff;
padding-top: 20%;
}
.banner-content .btn {
text-align:center;
}

#top {
  position: relative;
}
.topHome {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background: #5887FF;
}
.topHome .fa-2x {
  font-size: 20px;
  color: #fff;
  margin: 4px;
}

h2 {
  font-size: 40px;
  margin: 0;
  padding-bottom: 16px;
  font-variant: small-caps;
}
.element {
  background-image: url(curve.svg);
}

.custom-select1 {
  font-family: Helvetica;
  font-size: 12px;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(248, 150, 61);
  background-color: rgb(248, 150, 61);
  box-shadow: 0 0 0 2px rgb(248, 150, 61), 0 0 0 4px rgb(248, 150, 61), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center;
  width:100%;

}

  .custom-select2 {
  font-family: Helvetica;
  font-size: 12px;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(241, 31, 80);
  background-color: rgb(241, 31, 80);
  box-shadow: 0 0 0 2px rgb(241, 31, 80), 0 0 0 4px rgb(241, 31, 80), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center;
  width:100%;

}

  .custom-select3 {
  font-family: Helvetica;
  font-size: 12px;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(230, 231, 125);
  background-color: rgb(230, 231, 125);
  box-shadow: 0 0 0 2px rgb(230, 231, 125), 0 0 0 4px rgb(230, 231, 125), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center;
  width:100%;

}

  .custom-select4 {
  font-family: Helvetica;
  font-size: 12px;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(42, 198, 185);
  background-color: rgb(42, 198, 185);
  box-shadow: 0 0 0 2px rgb(42, 198, 185), 0 0 0 4px rgb(42, 198, 185), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center;
  width:100%;

}

 .input-select {
  font-family: Helvetica;
  font-size: 12px;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(101, 43, 117);
  background-color: rgb(101, 43, 117);
  box-shadow: 0 0 0 2px rgb(101, 43, 117), 0 0 0 4px rgb(101, 43, 117), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center
  width:100%;

}

.body { 
  background-color: black; 
  width:100%;
  height: 300vh; }

  .custom-button {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  padding: 6.5px;
  border-radius: 4px;
  border-style: double;
  border-width: 2px;
  border-color: rgb(248, 247, 222);
  background-color: rgb(248, 247, 222);
  box-shadow: 0 0 0 2px rgb(248, 247, 222), 0 0 0 4px rgb(248, 247, 222), 0 0 0 6px hsl(0, 0%, 4%), 0 0 0 8px hsl(0, 0%, 4%) ,0 0 0 10px hsl(0, 0%, 4%);
  text-align-last:center;
  text-align-last:center;
  width:100%;

}


.image-select {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px
  width:100%;

}

.card-heading {
  color: rgb(248, 247, 222);
  font-family: Helvetica;
  font-weight: bold;
  width:100%;
}

.card-subheading {
  color: rgb(248, 247, 222);
  font-weight: lighter;
  font-family: Helvetica;
  width:100%;
}

.columns {
  width: 100%;
}
